/* filler comment for asthetics */

/* variables */

:root {
  
  /* colors */

  --text-body: rgb(224, 224, 224);

  --text-card: rgb(60, 60, 60);

  --text-link: rgba(90, 130, 220, 0.9);

  /* background colors */

  --bg: rgba(26, 26, 26, 1);

  --bg-1: rgba(240, 240, 240, 1);

  --bg-2: rgba(215, 215, 220, 1);

  --bg-alert: rgba(250, 255, 100, 0.9);

  /* roundness */

  --radius: 15px;

}

.theme-light {
  --text-body: rgb(60, 60, 60);

  --text-card: rgb(224, 224, 224);

  --text-link: rgba(90, 130, 220, 0.9);
}

/* universal page styling */

@font-face {
  font-family: "gg-sans"; 
  src: url("gg-sans-fonts/gg-sans-medium.ttf"); 
  src: url("gg-sans-fonts/gg-sans-medium.woff");
}

* {
  box-sizing: border-box;
}

body {
  display: relative;
  position: relative;
  background-color: var(--bg);
  font-family: gg-sans;
  text-align: center;
  margin: 0;
  z-index: 5;
  min-height: 100vh;
}

main {
  padding-bottom: 2.5rem;
}

p {
  color: var(--text-body);
  font-size: max(10px, 18px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-top: 30px;
  margin-bottom: 40px;
}

h1 {
  color: var(--text-body);
  font-size: 50px;
  text-decoration: underline 5px rgba(86, 128, 212, 0.8);
}

img {
  border-radius: var(--radius);
}

li {
  text-align: left;
  color: rgb(30, 30, 60);
}

a {
  text-decoration: none;
  animation: none;
}

div {
  margin-top: 70px;
  margin-bottom: 70px;
}

footer {
  display: flex;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 2.5rem;
  text-align: center;
  background-color: rgb(90, 90, 90);
  z-index: 2;
}

/* footer stuff */

.footer-column {
  width: 20%;
}

/* ids */

#error403-returnhome {
  font-size: 30px;
  color: var(--text-link);
}

/* general classes */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

/* card styling */

.urgent-update {
  background-color: var(--bg-1);
  border-radius: var(--radius);
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;  
  background-color: var(--bg-alert);
  align-items: center;
  padding: 10px 0;

  h1 {
    margin: auto;
    margin-bottom: 10px;
    color: var(--text-card);
    font-size: 6vmin;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin: auto;
    color: var(--text-card);
    font-size: 3.4vmin;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

}

.card-horizontal {
  position: relative;
  display: flex;
  width: 90%;
  background-color: var(--bg-1);
  margin-right: auto;
  margin-left: auto;
  border-radius: var(--radius);
  z-index: 3;
  overflow: auto;
}
.card-horizontal .shadow-right { 
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  max-height: 325px;
  max-width: 50%;
  float: right;
  right: 0;
  margin-top: 30px;
  margin-bottom: 30px; 
  margin-right: 30px;
  border-radius: var(--radius);
  z-index: 4;
  filter: blur(7px) opacity(0.8);
  transform: scale(1.03);  
}

.card-horizontal .normal-right {
  object-fit: cover;
  position: absolute;
  display: flex;
  width: auto;
  height: auto;
  max-height: 325px;
  max-width: 50%;
  float: right;
  right: 0;
  margin-top: 30px;
  margin-bottom: 30px; 
  margin-right: 30px;
  border-radius: var(--radius);
  z-index: 5;
  filter: opacity(0.9);
}

.card-horizontal .shadow-left { 
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  max-height: 325px;
  max-width: 50%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px; 
  margin-left: 30px;
  border-radius: var(--radius);
  z-index: 4;
  filter: blur(7px) opacity(0.8);
  transform: scale(1.03);  
}

.card-horizontal .normal-left {
  object-fit: cover;
  position: absolute;
  display: flex;
  width: auto;
  height: auto;
  max-height: 325px;
  max-width: 50%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px; 
  margin-left: 30px;
  border-radius: var(--radius);
  z-index: 5;
  filter: opacity(0.9);
}

.card-p {
  width: 120%;
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 7%;
  text-wrap: wrap;
}

.card-p h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: var(--text-card);
}

.card-p p{
  color: var(--text-card);
  width: 85%;
}

.card-compact-houser {
  position: relative;
  display: grid;
  grid-row: 1;
  flex-direction: row;
  width: 90%;
  background-color: var(--bg-1);
  margin-right: auto;
  margin-left: auto;
  border-radius: var(--radius);
  z-index: 3;
  overflow: auto;
  text-align: center;
}

.card-row {
  width: 100%;
  display: flex;
  margin-top: 0;
  margin-bottom: 30px;
}

.row-top {
  margin-top: 30px !important;
}

.card-compact {
  position: relative;
  display: flex;
  float: left;
  width: 50%;
  height: auto;
  min-height: 45px;
  background-color: var(--bg-1);
  margin-left: 1vw; 
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 4;
  text-align: center;
  align-items: start;
  background-color: var(--bg-2);
  border-radius: var(--radius);
  overflow: hidden;
}

.card-compact-link {
  position: relative;
  display: inline-block;
  width: 80%;
  height: auto;
  min-height: 45px;
  background-color: var(--bg-1);
  margin-left: 3vw; 
  margin-right: 3vw;
  margin-top: 0 !important;
  margin-bottom: 0;
  z-index: 10;
  text-align: center;
  align-items: start;
  background-color: var(--bg-2);
  border-radius: var(--radius);
  overflow: hidden;
}

.normal-compact-left {
  object-fit: cover;
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  max-height: 50px;
  max-width: 30%;
  float: left;
  margin-left: 10px;
  margin-right: 0 !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-radius: var(--radius);
  z-index: 5;
  filter: opacity(0.9);
  align-content: center !important;
}

.normal-compact-right {
  object-fit: cover;
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  max-height: 50px;
  max-width: 30%;
  float: right;
  right: 0 !important;
  margin-left: 0 !important;
  margin-right: 10px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-radius: var(--radius);
  z-index: 4;
  filter: opacity(0.9);
  align-content: center !important;
}

.card-houser-heading {
  width: 100%;
  height: auto; 
  margin: 0;
}

.card-houser-heading h1 {
  color: var(--text-card);
  margin-bottom: 3%;
}

.card-houser-heading p{
  color: var(--text-card);
  margin-top: 0;
  margin-bottom: 0;
}

.card-p-compact {
  display: inline-flex;
  position: relative;
  margin: auto;
  align-items: center;
  min-height: 50px;
  clear: both;
  padding: 10px solid;
  text-wrap: wrap;
}

.card-p-compact p {
  color: var(--text-card);
  width: 90%;
}

.card-p-compact h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: max(2vw, 2.3vw);
  color: rgb(60, 60, 60);
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.card-full {
  position: relative;
  display: block;
  width: 100%;
  left: 0;
  background-color: white;
  margin: 0 !important;
  z-index: 3;
  overflow: auto;
  align-items: center;
  border-bottom: 3px solid var(--text-card);
}

.card-p-full {
  display: flex;
  position: relative;
  margin: auto;
  align-items: center;
  height: 100%;
  width: auto;
  clear: both;
}

.card-p-full p {
  color: rgb(56, 56, 56);
  height: 100%;
}



/* nav bar*/

@keyframes nav-transition {
  from {background-color: none;}
  to {background-color: rgb(60, 60, 65);}
}

.nav {
  display: inline;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  list-style-type: none;
  margin: auto;
  padding: 0;
  padding-left: 20px;
  overflow: hidden;
  background-color: rgb(40, 40, 45);
  border-bottom: 3px solid rgb(65, 65, 80);
  height: 50px;
  z-index: 50;
}

.nav li a {
  float: left;
  display: block;
  color: rgb(230, 230, 230);
  text-align: center;
  padding: 6px 8px 6px 8px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 8.5px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
}

li a:hover:not(.active) { 
  color: rgb(240, 240, 240);
  animation-name: nav-transition;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

li a:hover:after:not(.active) {
  animation-name: nav-transition;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
}

.active {
  background-color: rgb(90, 90, 95);
}

/* responsive design stuff */
.respcol-1 {width: 8.33%;}
.respcol-2 {width: 16.66%;}
.respcol-3 {width: 25%;}
.respcol-4 {width: 33.33%;}
.respcol-5 {width: 41.66%;}
.respcol-6 {width: 50%;}
.respcol-7 {width: 58.33%;}
.respcol-8 {width: 66.66%;}
.respcol-9 {width: 75%;}
.respcol-10 {width: 83.33%;}
.respcol-11 {width: 91.66%;}
.respcol-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* media queries */
@media screen and (max-width: 750px) {
  #update {
    display: block;
  }
}

@media screen and (min-width: 751px) {
  #update {
    display: none;
  }
}